<div class="col-md-2 col-sm-2"></div>
<div class="col-md-8 col-sm-8">
    <div class="row">
    <div class="col-md-6 col-sm-6">
        <li class="list-group-item active">
            <div class="row">
                    <div class="col-md-4 col-sm-4"></div>
                    <div class="col-md-4 col-sm-4"><%=page.firstCounterBlockTitle%></div>
                    <div class="col-md-2 col-sm-2"></div>
                    <div class="col-md-2 col-sm-2"><%=page.firstCounterBlockSubTitle%> &raquo;</div>
            </div>
        </li>
        <ul class="list-group" style="overflow: auto; border:  solid lightgray; height: 160px;" id="counters">
            
        </ul>
    </div>
    <div class="col-md-6">
        <li class="list-group-item active">
            <div class="row">  
                
                <div class="col-md-4 col-sm-4">&laquo; <%=page.secondCounterBlockSubTitle%></div>
                <div class="col-md-4 col-sm-4"><%=page.secondCounterBlockTitle%></div>
            </div>
        </li>
        <ul class="list-group" style="overflow: auto; border: 1px solid lightgray; height: 160px;" id="addedCounters">
            
        </ul>
        </div>
    </div>
</div>

<div class="col-md-2 col-sm-2"></div>