<br>
<div class="row ">
    <div class="col-md-2 col-sm-2">
        <div class="LogoSpace logoAr">
                <img src="/img/logo.gif" width="200">
        </div>
    </div>
    <div class="col-md-6 col-sm-6"   style="margin-top: 20px;"> 
        <p class="Title TitleAr"><%=page.title%> :</p>
    </div>
    <div class="col-md-2 col-sm-2" style="margin-top: 35px;">
            <select class="custom-select mr-sm-2" id="language" onchange="changeLanguage()">
                <option >Language...</option>
                <option value="en">English</option>
                <option value="ar">Arabic</option>
            </select>
    </div> 
</div>