<br>
<div class="alert alert-success" role="alert">
    <div class="row">
        <div class="col-md-2">
            <p class="alert-heading endPageTitleAR" style="font-size: 22px;"><%=page.endPageSubTitle%></p>
            <br>
        </div>
    </div>
    <div class="row">
            <div class="col-md-4">
        <p class="endPageMessageAR"><%=page.endPageMessage%></p>
    <p class="mb-0"></p>
    </div>
    </div>
</div>
<div class="row rtl" style="font-size: 13px;">
        <div class="col-md-8 col-sm-8"></div>
        <div class="col-md-4 col-sm-4">
            <button onclick="Back()" style="width: 100px; font-size: 12px"  type="button" class="btn btn-primary btn-rounded"><%=page.endPageButton1%></button>
            <button onclick="window.close()" style="width: 100px; font-size: 12px"  type="button" class="btn btn-primary btn-rounded"><%=page.endPageButton2%></button>
        </div>
</div>